* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Declared variables to clean up the code */
:root {
    --font1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --light-grey: #d9dcd6;
    --turquoise: #2a607c;
    --white: #ffffff;
    --blue: #0072bb;
    --light-blue: #2589bd;
}

body {
    background-color: var(--light-grey);
}

a {
    color: var(--white);
    text-decoration: none;
}

.header {
    padding: 20px;
    font-family: var(--font1);
    background-color: var(--turquoise);
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: var(--font2);
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--font2);
    font-size: 20px;
}

.header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content img {
    max-height: 200px;
}
/* Combined h2 attributes */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Combined into one */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--font2);
    background-color: var(--blue);
    color: var(--white);
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--font2);
    background-color: var(--light-blue);
}
/* Combined into one */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: var(--white);
}
/* Combined benefit lead, brand, cost h3 attributes */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Combined benefit lead, brand, cost img attributes */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--font1);
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}